
@{
    ViewBag.Title = "Index";
}
@model List<Diplom.Domain.Post>
<div class="block-header">
    <h2>Posts</h2>
</div>
@foreach (var post in Model)
{
<div id="@post.Id" class="card">
    <div class="card-header">
        <h2>@post.Title</h2>
    </div>
        <div  class="card-body card-padding">
            @Html.Raw(post.Text)
            <div class="clearfix"></div>
        </div>
</div>
}
